<form #form="ngForm" (ngSubmit)="submit(comment)">
  <mat-card>
    <mat-card-content>
      <techno-watcher-markdown-input
        class="w-full"
        [(ngModel)]="comment.content"
        required="true"
        name="content"
        placeholder="Your comment"
      ></techno-watcher-markdown-input>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [disabled]="form.invalid || isLoading" color="primary" mat-raised-button type="submit">Post comment</button>
    </mat-card-actions>
  </mat-card>
</form>
