<div class="flex flex-col gap-2">
  <techno-watcher-post [post]="post$ | async" [canDelete]="canDelete$ | async" (delete)="deletePost()"></techno-watcher-post>
  <hr />
  <techno-watcher-comment-form
    (addComment)="handleNewComment($event)"
    [comment]="addCommentDto"
    [isLoading]="addCommentLoading"
    technoWatcherShowOnSignedIn
  ></techno-watcher-comment-form>
  <techno-watcher-comment-list
    (addComment)="addCommentOnComment($event)"
    (deleteComment)="deleteComment($event)"
    [comments]="comments$ | async"
    [username]="username$ | async"
  ></techno-watcher-comment-list>
</div>
