<mat-tab-group mat-stretch-tabs dynamicHeight color="primary">
  <mat-tab label="Editor">
    <mat-form-field class="w-full">
      <textarea
        [(ngModel)]="content"
        [cdkAutosizeMinRows]="5"
        [disabled]="disabled"
        cdkTextareaAutosize
        matInput
        [placeholder]="placeholder"
        required
      ></textarea>
    </mat-form-field>
  </mat-tab>
  <mat-tab label="Preview">
    <ng-template matTabContent>
      <techno-watcher-markdown-renderer [content]="content"></techno-watcher-markdown-renderer>
    </ng-template>
  </mat-tab>
</mat-tab-group>
