<div class="flex flex-col flex-nowrap gap-1 items-stretch">
  <mat-form-field>
    <input matInput placeholder="Username" type="text" [formControl]="form.username" />
    <mat-error *ngIf="form.usernameErrorMessage">{{ form.usernameErrorMessage }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email" type="email" [formControl]="form.email" />
    <mat-error *ngIf="form.emailErrorMessage">{{ form.emailErrorMessage }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" type="password" [formControl]="form.password" />
    <mat-error *ngIf="form.passwordErrorMessage">{{ form.passwordErrorMessage }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Confirm password"
      type="password"
      [formControl]="form.confirmPassword"
      [errorStateMatcher]="form.confirmPasswordErrorStateMatcher"
    />
    <mat-error *ngIf="form.confirmPasswordErrorMessage">{{ form.confirmPasswordErrorMessage }}</mat-error>
  </mat-form-field>
</div>
