<ng-container *ngIf="comment && comments; else loadingTemplate">
  <techno-watcher-comment
    (reply)="toggleCommentForm()"
    (deleteComment)="onDeleteComment($event)"
    [comment]="comment"
    [username]="username"
    [disableAddComment]="disableAddComment || !!comment.deletedAt"
  ></techno-watcher-comment>
  <div *ngIf="showCommentForm" class="mt-2" technoWatcherShowOnSignedIn>
    <techno-watcher-comment-form (addComment)="submitComment($event)" [comment]="commentForm"></techno-watcher-comment-form>
  </div>
  <div *ngIf="filteredComments?.length" [class.items-center]="!showComments" class="flex mt-2 mb-2 ml-0 w-full">
    <button (click)="toggleComments()" color="primary" mat-icon-button>
      <mat-icon color="accent">{{ showComments ? 'remove' : 'add' }}</mat-icon>
    </button>
    <div *ngIf="showComments; else showCommentTemplate" class="flex flex-col gap-4 w-full">
      <techno-watcher-comment-with-subcomments
        *ngFor="let subComment of filteredComments; trackBy: commentTrackByFn"
        (addComment)="addComment.emit($event)"
        (deleteComment)="onDeleteComment($event)"
        [comment]="subComment"
        [comments]="comments"
        [username]="username"
        [disableAddComment]="disableAddComment || !!comment.deletedAt"
      ></techno-watcher-comment-with-subcomments>
    </div>
    <ng-template #showCommentTemplate>
      <span class="text-gray-500 text-xs">Show comments</span>
    </ng-template>
  </div>
</ng-container>
<ng-template #loadingTemplate>
  <techno-watcher-comment></techno-watcher-comment>
</ng-template>
