<mat-form-field>
  <mat-label>Tag list</mat-label>
  <mat-chip-list #chipList aria-label="Tag selection" [(ngModel)]="tags" [required]="required">
    <mat-chip *ngFor="let tag of tags; trackBy: trackByTagFn" (removed)="removeTag(tag)">
      {{tag}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input placeholder="New tag..."
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           (matChipInputTokenEnd)="addTag($event)">
  </mat-chip-list>

</mat-form-field>
