<ng-container *ngIf="profile$ | async as profile; else signActionTemplate">
  <div class="flex flex-row gap-1 items-center">
    <button routerLink="/posts/new" class="right-2" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="signedInMenu">{{ profile.username }}</button>
    <mat-menu #signedInMenu="matMenu">
      <button mat-menu-item (click)="signOut()">Sign out</button>
    </mat-menu>
  </div>
</ng-container>
<ng-template #signActionTemplate>
  <button routerLink="/auth/sign-in" class="right-2" color="accent" mat-raised-button [disabled]="isLoading$ | async">Sign In</button>
  <button routerLink="/auth/sign-up" mat-stroked-button [disabled]="isLoading$ | async">Sign Up</button>
</ng-template>
